{% extends 'base.html.twig' %}

{% block body %}
    <h1>HELLO USER!!!</h1>
    <p>Status - {{ status }}</p>
    <p>Region - {{ region }}</p>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
